body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 20px;
}

.runBtn {
  background: #22c55e;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.editor {
  border: 2px solid #334155;
  border-radius: 10px;
  overflow: hidden;
}

.output {
  margin-top: 20px;
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}